@charset "UTF-8";

body {
    padding-top: 70px;
}

/* Hide raw angular variables {{...}} until they are populated */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.ace_editor {
    height: 200px;
}

.gray {
    color: gray;
}

/*Arrows are available here : http://xahlee.info/comp/unicode_arrows.html*/
.st-sort-noorder:after {
    content: ' ⇵ ';
    color: gray;
}

.st-sort-ascent:after {
    content: ' ⬆ ';
    color: black;
}

.st-sort-descent:after {
    content: ' ⬇ ';
    color: black;
}

.st-selected {
    background-color: #C8EFB4 !important;
}

.wordwrap {
    word-break: break-all;
}