@charset "UTF-8";

body {
    min-height: 2000px;
    padding-top: 70px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.ace_editor {
    height: 200px;
}

.gray {
    color: gray;
}

/*Arrows are available here : http://xahlee.info/comp/unicode_arrows.html*/
.st-sort-noorder:after {
    content: ' ⇵ ';
    color: gray;
}

.st-sort-ascent:after {
    content: ' ⬆ ';
    color: black;
}

.st-sort-descent:after {
    content: ' ⬇ ';
    color: black;
}

.st-selected {
    background-color: #C8EFB4 !important;
}