body {
    min-height: 2000px;
    padding-top: 70px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.ace_editor {
    height: 200px;
}

.gray {
    color: gray;
}

.st-sort-ascent:before{
     content: '\25B2';
 }

.st-sort-descent:before{
    content: '\25BC';
}