<!doctype html>
<html lang="en" ng-app="codingyard">
<head>
    <meta charset="utf-8" name=viewport" content="width=device-width, initial-scale=1">
    <title>Codingyard</title>
    <base href="/">
</head>
<body ng-controller="CodingyardController" ng-cloak>

<!-- fixed navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Codingyard</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" dropdown>
                    <a href class="dropdown-toggle" dropdown-toggle>
                        View
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="topcoderView">TopCoder</a></li>
                    </ul>
                </li>
                <li class="dropdown" dropdown>
                    <a href class="dropdown-toggle" dropdown-toggle>
                        Upload
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="topcoderUpload">TopCoder</a></li>
                    </ul>
                </li>
                <li><a ui-sref="userListView">Users</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-controller="LoginController">
                <li ng-hide="sharedData.currentUser"><a ng-href="/" ng-click="openLogin()">Login</a></li>
                <li ng-hide="sharedData.currentUser"><a ui-sref="signUp">Signup</a></li>
                <li ng-show="sharedData.currentUser"><a ui-sref="userView({userId: sharedData.currentUser.id})">Welcome,
                    {{sharedData.currentUser.username}}!</a></li>
                <li ng-show="sharedData.currentUser"><a ng-href="/" ng-click="logout()">logout</a>
            </ul>
        </div>

    </div>
</nav>

<!-- main components -->
<div class="container">
    <div ui-view>
    </div>

    <!-- External css -->
    <link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- xeditable css is already minified -->
    <link rel="stylesheet" type="text/css" href="/assets/libs/angular-xeditable/0.1.8/xeditable.css">

    <!-- css from Codingyard -->
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/app/components/login/login-modal.css">
    <link rel="stylesheet" href="/app/components/signup/signup.css">

    <!-- External js libraries -->
    <script src="/assets/libs/ace/min/ace.js"></script>
    <script src="/assets/libs/angular/1.3.15/angular.js"></script>
    <script src="/assets/libs/angular/1.3.15/angular-route.min.js"></script>
    <script src="/assets/libs/angular/1.3.15/angular-resource.min.js"></script>
    <script src="/assets/libs/angular-base64/2.0.4/angular-base64.min.js"></script>
    <script src="/assets/libs/angular-smart-table/smart-table.min.js"></script>
    <script src="/assets/libs/angular-ui/ui-ace/ui-ace.min.js"></script>
    <script src="/assets/libs/angular-ui/ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="/assets/libs/angular-ui/bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="/assets/libs/angular-xeditable/0.1.8/xeditable.min.js"></script>

    <!-- js from Codingyard -->
    <script src="/app/app.module.js"></script>
    <script src="/app/app.routes.js"></script>
    <script src="/app/shared/auth_service.js"></script>
    <script src="/app/shared/user_factory.js"></script>
    <script src="/app/shared/topcoder_factory.js"></script>
    <script src="/app/shared/constants.js"></script>
    <script src="/app/shared/session_storage.js"></script>
    <script src="/app/shared/transform_request_factory.js"></script>
    <script src="/app/shared/ace_editor_factory.js"></script>
    <script src="/app/shared/shared_data_factory.js"></script>
    <script src="/app/shared/solution_permission_factory.js"></script>
    <script src="/app/shared/user_permission_factory.js"></script>
    <script src="/app/components/users/user_controller.js"></script>
    <script src="/app/components/users/user_list_controller.js"></script>
    <script src="/app/components/users/popup/user_edit_confirm_controller.js"></script>
    <script src="/app/components/users/popup/user_delete_confirm_controller.js"></script>
    <script src="/app/components/topcoder/topcoder_upload_controller.js"></script>
    <script src="/app/components/topcoder/topcoder_view_controller.js"></script>
    <script src="/app/components/topcoder/delete_confirm_controller.js"></script>
    <script src="/app/components/signup/signup_controller.js"></script>
    <script src="/app/components/login/login_controller.js"></script>
    <script src="/app/components/login/login_modal_controller.js"></script>
</div>
</body>
</html>
