<div ng-hide="signedup" class="signup-form">

    <div class="text-center signup-note">
        <h3>Note</h3>

        <p class="text-success">Your email address will be used for <span class="text-danger">password recovery</span>
            only.</p>
    </div>

    <form class="form-horizontal" name="signupForm" ng-submit="createUser(request)" novalidate>

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>

            <div class="col-sm-10"
                 ng-class="{'has-error' : signupForm.username.$invalid || signupForm.username.$pristine || !isUsernameAvailable}">
                <input type="text"
                       class="form-control"
                       id="username" name="username" placeholder="Enter username"
                       ng-model="request.username"
                       required
                       ng-minlength="3"
                       ng-maxlength="20"
                       ng-change="checkUsernameAvailable(request.username)">

                <p ng-show="signupForm.username.$pristine ||
                (signupForm.username.$invalid && !signupForm.username.$error.minlength && !request.username)"
                   class="text-danger">
                    Username is required
                </p>

                <p ng-show="signupForm.username.$valid && isUsernameAvailable" class="text-success">
                    {{usernameCheckMessage}}
                </p>

                <p ng-show="signupForm.username.$valid && !isUsernameAvailable" class="text-danger">
                    {{usernameCheckMessage}}
                </p>

                <p ng-show="signupForm.username.$error.minlength" class="text-danger">
                    Username is too short</p>

                <p ng-show="signupForm.username.$error.maxlength" class="text-danger">
                    Username is too long</p>
            </div>


        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10"
                 ng-class="{'has-error': signupForm.password.$pristine || signupForm.password.$invalid}">
                <input type="password" class="form-control" id="password" name="password" ng-model="request.password"
                       required
                       ng-minlength="5"
                       ng-maxlength="50">

                <p ng-show="signupForm.password.$pristine ||
                (signupForm.password.$invalid && !signupForm.password.$error.minlength && !request.password)"
                   class="text-danger">
                    Password is required
                </p>

                <p ng-show="signupForm.password.$error.minlength" class="text-danger">
                    Password is too short</p>

                <p ng-show="signupForm.password.$error.maxlength" class="text-danger">
                    Password is too long</p>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10"
                 ng-class="{'has-error': signupForm.email.$pristine || signupForm.email.$invalid}">
                <input type="email" class="form-control" id="email" name="email" ng-model="request.email" required>

                <p ng-show="signupForm.email.$pristine || signupForm.email.$invalid" class="text-danger">Enter a valid
                    email</p>
            </div>
        </div>

        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">First name</label>

            <div class="col-sm-10"
                 ng-class="{'has-error': signupForm.firstname.$pristine || signupForm.firstname.$invalid}">
                <input type="text" class="form-control" id="firstname" name="firstname" ng-model="request.firstName"
                       required>

                <p ng-show="signupForm.firstname.$pristine || signupForm.firstname.$invalid" class="text-danger">First
                    name is required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">Last name</label>

            <div class="col-sm-10"
                 ng-class="{'has-error': signupForm.lastname.$pristine || signupForm.lastname.$invalid}">
                <input type="text" class="form-control" id="lastname" name="lastname" ng-model="request.lastName"
                       required>

                <p ng-show="signupForm.lastname.$pristine || signupForm.lastname.$invalid" class="text-danger">Last name
                    is required</p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary signup-button"
                ng-disabled="signupForm.$invalid || !isUsernameAvailable">Sign up!
        </button>
    </form>

    <div ng-show="signupFailed" class="text-danger">
        <h2>Something went wrong.. Please click Sign up again.</h2>
    </div>
</div>

<div ng-show="signedup" class="text-center">
    <h2>Welcome, {{request.username}}! You've successfully signed up!</h2>
</div>

