<table st-table="displayedUsers" st-safe-src="users"
       class="table table-hover table-condensed table-striped table-responsive">
    <thead>
    <tr>
        <th></th>
        <th>Users per page</th>
        <th colspan="2">
            <input type="number" class="form-control input-sm" ng-model="paginationSetting.itemPerPage"
                   placeholder="solution per page"/>
        </th>
    </tr>
    <tr>
        <th style="width: 5%">
            <!-- Place holder for user id -->
        </th>
        <th style="width: 30%">
            <!-- Role search -->
            <select class="form-control input-sm" st-search="role">
                <option ng-repeat="supportedRole in supported.roles" value="{{supportedRole.value}}">
                    {{supportedRole.key}}
                </option>
            </select>
        </th>
        <th style="width: 50%">
            <!-- username search -->
            <input class="form-control input-sm" st-search="username"
                   placeholder="Search username" type="search"/>
        </th>
        <th style="width: 15%">
            <!-- Place holder for delete button -->
        </th>
    </tr>
    <tr>
        <th st-sort="id" class="st-sort-noorder" st-sort-default="true">id</th>
        <th st-sort="role" class="st-sort-noorder">Role</th>
        <th st-sort="username" class="st-sort-noorder">Username</th>
        <th><!-- Place holder for delete button --></th>
    </tr>
    </thead>
    <tbody>
    <tr st-select-row="user"
        ng-repeat="user in displayedUsers"
        ng-click="pickUser(user)">
        <td>{{user.id}}</td>
        <td>{{user.role}}</td>
        <td>{{user.username}}</td>
        <td>
            <!-- TODO: Only show this if this user can be editted by the current user -->
            <button type="button"
                    class="btn btn-sm btn-success" ng-click="openEdit(user)">
                <i class="glyphicon glyphicon-edit">
                </i>
            </button>

            <button type="button" ng-show="user.canDelete" ng-click="openConfirm(user)"
                    class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
            </button>

            <!-- Placeholder for non-authorized users -->
            <button type="button" ng-hide="user.canDelete" class="btn btn-sm btn-danger" style="visibility: hidden">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
            </button>
        </td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
        <td colspan="3" class="text-center">
            <div st-pagination="" st-items-by-page="paginationSetting.itemPerPage"
                 st-displayed-pages="paginationSetting.displayPages"></div>
        </td>
    </tr>
    </tfoot>
</table>
